{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
    <nav>
                <ul>
                    <li><a href="{{ path('app_marque_index') }}">Les Marque</a></li>
                    <li><a href="{{ path('app_modele_index') }}">Les modèles</a></li>
                </ul>
            </nav>
    <h1>Salut {{ prenom }} !</h1>
{% endblock %}
